[Unit]
Description=Install ifupdown2 on next reboot
After=network.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/env sleep 5
ExecStart=/usr/local/bin/install_ifupdown2.sh
ExecStartPost=/usr/bin/env reboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
