[Unit]
Description=NDPPD Daemon
After=network.target
 
[Service]
ExecStart=/usr/local/bin/ndpresponder -i vmbr0 -n [IPv6前缀]/[IPV6子网掩码]
Restart=on-failure
RestartSec=6
 
[Install]
WantedBy=multi-user.target
